{% load static %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {{ recipe_object.title }}
        Scrumptious Recipes
    </title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>