{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <h1>edit recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{ post_form}}
        <button>save_recipe</button>
    </form>

{% endblock content %}
