{% extends 'base.html' %}
{% load static %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>

            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'user_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="container">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>    
                <p>{{ recipe.created_on|date:"D M Y" }}</p>
                <img src="{{ recipe.picture|default:"https://via.placeholder.com/150" }}">
                <div>4.3 stars</div>
            </div>
            {% empty %}
            <p>There are no recipes.</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}