.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    padding:16px;
}
header{
    background-color: hsl(24, 100%, 50%); font-size: x-large;
    font: bold;
}
footer{
    padding: 24px 0;
    background-color: #B4CF66;
    margin-top: 32px;
    padding: 32px;
}
h1{
    color: #146152;
}
img{
    height: 200px;
}
nav{
    background-color: #FF5A33;
    border-bottom: 1px solid #146152;
    padding: 16px;
}
nav a {
    color: white;
    font-weight: bold;
}
a{
    color: #44803F;
    text-decoration: none;
}
.navlinks {
    color:white;
}
.secondlink {
    color: rgb(51, 165, 51);
}
.ingredients-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}